<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="../../static/server/css/index.css">
    <style>
    .el-menu-demo{
        position: absolute !important;
        top: 0 !important;
        display: flex !important;
        justify-content: flex-end !important;
        width: 100% !important;
        border: 0 !important;
        background:none !important;
        padding-top: 5px;
    }
    .main_menu_item{
        font-size: 25px !important;
        font-family:"楷体" !important;
    }
    .main_menu_item:hover{
        background-color:rgba(231, 35, 172, 0.6) !important;
        border: 2px rgba(100, 18, 75, 0.658) solid !important;
    }
    </style>
</head>
<body>
    <div id="app" style="height: 100%;">
    <div class="header">
        <!-- 标题 -->
        <div class="lnner-header">
            <!-- vue部分 -->
            <el-menu class="el-menu-demo" mode="horizontal" 
            background-color="rgba(255,255,255,0)" active-text-color="rgba(255,255,255,0.5)" text-color="rgb(255,182,241)">
                    <el-menu-item class="main_menu_item" style="margin-left:30px" index="1"><a href="{% url 'server:encodeindex' %}">添加数字水印</a></el-menu-item>
                    <el-menu-item class="main_menu_item"  index="2"><a href="{% url 'server:decodeindex' %}">查看数字水印</a></el-menu-item>
                    <el-menu-item class="main_menu_item"  index="3"><a href="{% url 'server:teamindex' %}">关于我们</a></el-menu-item>
                    {% if is_login %}
                    <el-menu-item class="main_menu_item" style="margin-right: 100px;margin-left: 100px;" index="4"><a href="/login/">登录</a></el-menu-item>
                    {% else %}
                    <el-menu-item class="main_menu_item" style="margin-right: 100px;margin-left: 100px;" index="4"><a href="/logout/">登出</a></el-menu-item>
                    {% endif %}
            </el-menu>

            <h1>Online Digital Works Copyright Protection Platform</h1>
            <div class="img_box">
                <div class="img_container">
                    <img class="image left" data-w="pic1" src="../../static/server/images/img1.jpg" alt="">
                    <img class="image middle" data-w="pic2" src="../../static/server/images/img2.jpg" alt="">
                    <img class="image right" data-w="pic3" src="../../static/server/images/img3.jpg" alt="">
                </div>
                <h3 id="pic_no">pic1</h3>
            </div>
        </div>
        <!-- 波浪 -->
        <div>
            <!-- svg形状 -->
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255, 183, 242,0.7"></use>
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255, 183, 242,0.5)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255, 183, 242,0.3)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255, 183, 242,0.1)"></use>
                </g>
            </svg>

        </div>
    </div>
    <div style="background-color:rgb(255,182,242);height: 20.6%;margin-top: -0.5%;">
    </div>
</div>
</body>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return { visible: false }
        }
    })
    const images = document.querySelectorAll('.image');
    for (let i = 0 ; i < images.length ; i ++){
        images[i].addEventListener('click',function(){
            this.classList.remove('left','middle','right');
            this.classList.add('middle');
            var word = document.getElementById("pic_no");
            word.innerHTML = this.dataset.w;

            let left = this.previousElementSibling || images[images.length - 1] ;
            left.classList.remove('left','middle','right');
            left.classList.add('left');

            let right = this.nextElementSibling || images[0];
            right.classList.remove('left','middle','right');
            right.classList.add('right');
        })
    }
</script>

</html>