<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="../../static/server/css/team.css">
    <style>
    .el-menu-demo{
        position: absolute !important;
        top: 0 !important;
        display: flex !important;
        justify-content: flex-end !important;
        width: 100% !important;
        border: 0 !important;
        background:none !important;
        padding-top: 5px;
    }
    .main_menu_item{
        font-size: 23px !important;
        font-family:"幼圆" !important;
    }
    .main_menu_item:hover{
        background-color:rgba(97, 91, 172, 0.6) !important;
        border: 2px rgba(52, 111, 221, 0.658) solid !important;
    }
    </style>
</head>
<body>
    <div id="app" style="height: 100%;">
    <div class="header">
        <!-- 标题 -->
        <div class="lnner-header">
            <!-- vue部分 -->
            <el-menu class="el-menu-demo" mode="horizontal" style="background-color: rgba(255, 255, 255, 1) !important;"
        background-color="rgba(255,255,255,0)" active-text-color="rgba(77,115,209,0.5)" text-color="rgb(0,0,0)">
                <el-menu-item class="main_menu_item" style="margin-left:30px;" index="0"><a href="{% url 'login:index' %}">首页</a></el-menu-item>
                <el-menu-item class="main_menu_item"  index="1"><a href="{% url 'server:encodeindex' %}">添加数字水印</a></el-menu-item>
                <el-menu-item class="main_menu_item"  index="2"><a href="{% url 'server:decodeindex' %}">查看数字水印</a></el-menu-item>
                <el-menu-item class="main_menu_item"  index="3"><a href="{% url 'server:teamindex' %}">关于我们</a></el-menu-item>
                {% if is_login %}
                <el-menu-item class="main_menu_item" style="margin-right: 100px;margin-left: 100px;" index="4"><a href="/login/">登录</a></el-menu-item>
                {% else %}
                <el-menu-item class="main_menu_item" style="margin-right: 100px;margin-left: 100px;" index="4"><a href="/logout/">登出</a></el-menu-item>
                {% endif %}
        </el-menu>
        </div>
    </div>
    <div class="container">
        <div class="title"><h2>OUR TEAM</h2></div>
        <div class="introduction">
            <div class="mem">
                <img src="../../static/server/image/rustlee.jpg" alt="">
                <h2>李秋阳</h2>
                <div style="display:flex;flex-direction: row;"><p>github:&nbsp;</p><a href="https://github.com/RustLee">https://github.com/RustLee</a></div>
                <p>李秋阳是本小组组长</p>
                <p>主要负责图片加密、视频加密部分算法</p>
            </div>
            <div class="mem">
                <img src="../../static/server/image/haolindeng.jpg" alt="">
                <h2>邓浩霖</h2>
                <div style="display:flex;flex-direction: row;"><p>github:&nbsp;</p><a href="https://github.com/Reflorescit">https://github.com/Reflorescit</a></div>
                <p>主要负责后端部分，以及项目的整合</p>
                <!-- <p>xxxxxxxxxxxxxxxxxxxxx</p> -->
            </div>
            <div class="mem">
                <img src="../../static/server/image/momo.gif" alt="">
                <h2>莫允扬</h2>
                <div style="display:flex;flex-direction: row;"><p>github:&nbsp;</p><a href="https://github.com/CMathmo">https://github.com/CMathmo</a></div>
                <p>主要负责音频部分加密算法</p>
                <!-- <p>xxxxxxxxxxxxxxxxxxxxx</p> -->
            </div>
            <div class="mem">
                <img src="../../static/server/image/cengturyw.jpg" alt="">
                <h2>文圣楚</h2>
                <div style="display:flex;flex-direction: row;"><p>gitee:&nbsp;</p><a href="https://gitee.com/wsc19991225">https://gitee.com/wsc19991225</a></div>
                <p>主要负责前端</p>
                <!-- <p>xxxxxxxxxxxxxxxxxxxxx</p> -->
            </div>
        </div>
    </div>
    
</div>
</body>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return { visible: false }
        }
    })

</script>

</html>